#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
}

.app {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.logo {
  text-align: center;
}

.logo span {
  color: bisque;
}


section {
  margin: 0 auto;
  padding: 3rem 0;
}

.search__box {
  padding: 0.5rem 1.5rem;
  background-color: rgb(19, 19, 19);
  color: aliceblue;
  margin: 0 auto;
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
}

.search__box input {
  background-color: transparent;
  padding: 0.5rem 0;
  border: 0;
  outline: none;
  color: whitesmoke;
  font-family: inherit;
}

input::placeholder {
  color: rgb(209, 209, 209);
  font-size: 0.85rem;
  font-family: inherit;
}

.icon__span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgb(49, 49, 49);
  display: grid;
  place-items: center;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.movie__card {
  box-shadow: 0 0 5px rgb(30, 73, 73);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
}

.movie__card img {
  width: 14.5rem;
}

.movie__info {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.308);
  background-color: red;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}